<div>
    <h2 id="page-heading">
        <span jhiTranslate="slackJhipApp.workspace.home.title">Workspaces</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-workspace" [routerLink]="['/workspace/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="slackJhipApp.workspace.home.createLabel">
            Create new Workspace
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="workspaces">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="slackJhipApp.workspace.workspaceName">Workspace Name</span></th>
            <th><span jhiTranslate="slackJhipApp.workspace.admin">Admin</span></th>
            <th><span jhiTranslate="slackJhipApp.workspace.workspaceID">Workspace ID</span></th>
            <th><span jhiTranslate="slackJhipApp.workspace.description">Description</span></th>
            <th><span jhiTranslate="slackJhipApp.workspace.slackApp">Slack App</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let workspace of workspaces ;trackBy: trackId">
                <td><a [routerLink]="['/workspace', workspace.id, 'view' ]">{{workspace.id}}</a></td>
                <td>{{workspace.workspaceName}}</td>
                <td>{{workspace.admin}}</td>
                <td>{{workspace.workspaceID}}</td>
                <td>{{workspace.description}}</td>
                <td>
                    <div *ngIf="workspace.slackApp">
                        <a [routerLink]="['../slack-app', workspace.slackApp?.id, 'view' ]" >{{workspace.slackApp?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/workspace', workspace.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/workspace', workspace.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'workspace/'+ workspace.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
