<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-workspace-heading" jhiTranslate="slackJhipApp.workspace.home.createOrEditLabel">Create or edit a Workspace</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!workspace.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="workspace.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.workspace.workspaceName" for="field_workspaceName">Workspace Name</label>
                    <input type="text" class="form-control" name="workspaceName" id="field_workspaceName"
                        [(ngModel)]="workspace.workspaceName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.workspace.admin" for="field_admin">Admin</label>
                    <input type="text" class="form-control" name="admin" id="field_admin"
                        [(ngModel)]="workspace.admin" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.workspace.workspaceID" for="field_workspaceID">Workspace ID</label>
                    <input type="number" class="form-control" name="workspaceID" id="field_workspaceID"
                        [(ngModel)]="workspace.workspaceID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.workspace.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="workspace.description" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.workspace.slackApp" for="field_slackApp">Slack App</label>
                    <select class="form-control" id="field_slackApp" name="slackApp" [(ngModel)]="workspace.slackApp" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="slackAppOption.id === workspace.slackApp?.id ? workspace.slackApp : slackAppOption" *ngFor="let slackAppOption of slackapps; trackBy: trackSlackAppById">{{slackAppOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
