<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-message-heading" jhiTranslate="slackJhipApp.message.home.createOrEditLabel">Create or edit a Message</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!message.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="message.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.message.messageId" for="field_messageId">Message Id</label>
                    <input type="number" class="form-control" name="messageId" id="field_messageId"
                        [(ngModel)]="message.messageId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.message.message" for="field_message">Message</label>
                    <input type="text" class="form-control" name="message" id="field_message"
                        [(ngModel)]="message.message" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.message.timeStamp" for="field_timeStamp">Time Stamp</label>
                    <div class="d-flex">
                        <input id="field_timeStamp" type="datetime-local" class="form-control" name="timeStamp" [(ngModel)]="timeStamp"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.message.dateStamp" for="field_dateStamp">Date Stamp</label>
                    <div class="input-group">
                        <input id="field_dateStamp" type="text" class="form-control" name="dateStamp" ngbDatepicker  #dateStampDp="ngbDatepicker" [(ngModel)]="message.dateStamp"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateStampDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.message.sender" for="field_sender">Sender</label>
                    <input type="text" class="form-control" name="sender" id="field_sender"
                        [(ngModel)]="message.sender" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.message.channel" for="field_channel">Channel</label>
                    <select class="form-control" id="field_channel" name="channel" [(ngModel)]="message.channel" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="channelOption.id === message.channel?.id ? message.channel : channelOption" *ngFor="let channelOption of channels; trackBy: trackChannelById">{{channelOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.message.directMessage" for="field_directMessage">Direct Message</label>
                    <select class="form-control" id="field_directMessage" name="directMessage" [(ngModel)]="message.directMessage" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="directMessageOption.id === message.directMessage?.id ? message.directMessage : directMessageOption" *ngFor="let directMessageOption of directmessages; trackBy: trackDirectMessageById">{{directMessageOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
