<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-channel-heading" jhiTranslate="slackJhipApp.channel.home.createOrEditLabel">Create or edit a Channel</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!channel.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="channel.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.channel.channelName" for="field_channelName">Channel Name</label>
                    <input type="text" class="form-control" name="channelName" id="field_channelName"
                        [(ngModel)]="channel.channelName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.channel.channelID" for="field_channelID">Channel ID</label>
                    <input type="number" class="form-control" name="channelID" id="field_channelID"
                        [(ngModel)]="channel.channelID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.channel.channelDescription" for="field_channelDescription">Channel Description</label>
                    <input type="text" class="form-control" name="channelDescription" id="field_channelDescription"
                        [(ngModel)]="channel.channelDescription" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.channel.isPrivate" for="field_isPrivate">Is Private</label>
                    <input type="checkbox" class="form-control" name="isPrivate" id="field_isPrivate"
                        [(ngModel)]="channel.isPrivate" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="slackJhipApp.channel.appUser" for="field_appUser">App User</label>
                    <select class="form-control" id="field_appUser" multiple name="appUser" [(ngModel)]="channel.appUsers">
                        <option [ngValue]="getSelected(channel.appUsers, appUserOption)" *ngFor="let appUserOption of appusers; trackBy: trackAppUserById">{{appUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="slackJhipApp.channel.workspace" for="field_workspace">Workspace</label>
                    <select class="form-control" id="field_workspace" name="workspace" [(ngModel)]="channel.workspace" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="workspaceOption.id === channel.workspace?.id ? channel.workspace : workspaceOption" *ngFor="let workspaceOption of workspaces; trackBy: trackWorkspaceById">{{workspaceOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
