<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="directMessage">
            <h2><span jhiTranslate="slackJhipApp.directMessage.detail.title">Direct Message</span> {{directMessage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="slackJhipApp.directMessage.dmId">Dm Id</span></dt>
                <dd>
                    <span>{{directMessage.dmId}}</span>
                </dd>
                <dt><span jhiTranslate="slackJhipApp.directMessage.message">Message</span></dt>
                <dd>
                    <span>{{directMessage.message}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/direct-message', directMessage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
